# Imports

In [30]:
import sys
import logging
import shutil
from uuid import uuid4
from tempfile import gettempdir
from os.path import join, isdir
import folium
from aequilibrae import Parameters, logger, Project
import pandas as pd

# Model place (Country) to build the model for

In [2]:
model_place = 'Andorra'

In [27]:
fldr = f'/home/jovyan/workspace/{model_place}'

if isdir(fldr):
  print(fldr)

/home/jovyan/workspace/Andorra

# Open Model

In [28]:
project = Project()
project.open(fldr)

# Get model data

In [34]:
links = pd.read_sql('select * from links', project.conn).drop(columns=['geometry'])

In [35]:
links.head()

,ogc_fid,link_id,a_node,b_node,direction,distance,modes,link_type,name,speed_ab,speed_ba,capacity_ab,capacity_ba,osm_id,bridge,tunnel,toll,surface,lanes_ab,lanes_ba
0,1,1,2,1,0,58.944021,tc,residential,None,NaN,NaN,None,None,1057801040,None,None,None,None,NaN,NaN
1,2,2,3,2,1,23.842513,tc,residential,None,NaN,NaN,None,None,1057801039,None,None,None,None,NaN,NaN
2,3,3,2,4,1,24.128949,tc,residential,None,NaN,NaN,None,None,1057801039,None,None,None,None,NaN,NaN
3,4,4,6,5,0,127.165977,tc,residential,None,NaN,NaN,None,None,1057801038,None,None,None,None,NaN,NaN
4,5,5,8,7,0,21.504977,tc,service,None,NaN,NaN,None,None,1057801037,None,None,None,None,NaN,NaN

In [17]:
project.close()

2022-05-06 11:34:17,887;aequilibrae;INFO ; Closed project on ../Andorra